<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surtifuver S.A</title>
</head>
<body>
    <header class="cabecera">
        <img src="../imagenes/logo.png" alt="">
        <nav class="menu">
            <ul>
                <li><a href="">¿Quienes somos?</a></li>
                <li><a href="">La canasta</a></li>
                <li><a href="">Iniciar sesion</a></li>
            </ul>
        </nav>
    </header>
    <h1>Hola usuario</h1>
</body>
</html>